@media(max-width:768px){

.hero{
flex-direction:column;
text-align:center;
}

.feature-grid,
.pricing-grid,
#posts{
grid-template-columns:1fr;
}

.nav-links{
display:none;
flex-direction:column;
position:absolute;
top:70px;
right:10px;
background:#1e293b;
padding:20px;
}

.nav-links.active{
display:flex;
}

.menu-icon{
display:block;
}

form{
width:90%;
}

}